<main class="main">
  <div class="container">
    <section>
      @if (esPrivado) {
        <button class="btn btn-submit" (click)="validar()">
          <span class="material-icons">task_alt</span>
          Validar
        </button>
      }

      <button class="btn btn-primary" (click)="modificar()">
        <span class="material-icons">edit</span>
        Modificar
      </button>

      @if (esPrivado) {
        <button class="btn btn-danger" (click)="eliminar()">
          <span class="material-icons">delete</span>
          Eliminar
        </button>
      }
    </section>
  </div>
</main>
