.footer-grid {
    display: grid;
    grid-template-columns: 45% 25% 25%;
    gap: 50px;
}

.footer-info {
    display: block;
    padding-left: 25px;
}

.footer-info p {
    color: rgb(97, 97, 97);
}

.footer-bottom {
    margin-top: 24px;
    text-align: center;
}

.footer-container {
    border: 1px solid rgb(196, 196, 196);
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(250, 250, 250);
    display: flex;
    padding-right: 10px;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-grid app-links-section {
        padding-left: 25px;
    }
}