/* You can add global styles to this file, and also import other style files */
/* CSS custom */
@import "styles/base.css";
@import "styles/componentes.css";
@import "styles/layout.css";
@import "styles/variables.css";

/* Iconos */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com");


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}